/* TODO Add site wide styles */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.create-coffee {
    position: absolute;
    background-color: white;
    border: 2px #6c541e solid;
  }

.app {
  display: grid;
  grid-template-columns: auto auto auto;
}

.coffees {
  width: 200px;
}

.posts-container {
  width: 500px;
}

.posts {
  display: flex;
  flex-direction: column;
}

.single-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px #c6944a dashed;
  padding: 30px 15px 5px 15px;
}

.post-title {
  font-size: 20px;
}

.post-header, .single-coffee {
  border-top-left-radius: 15px;
  /* box-shadow: -4px 1px #6c541e; */
  border-left: #6c541e 4px solid;
  border-bottom: #c8954a 2px solid;
}

.single-coffee:hover {
  border-left: #c8954a 4px solid;
  box-shadow: 0 0 15px #c8954a;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.header-btn {
  display: flex;
  align-items: center;
}

button {
  border-radius: 5px 10px 5px 10px;
  border: 2px solid #c8954a;
  border-color: #6c541e #6c541e #c6944a #c6944a;
}

.single-coffee {
  display: flex;
  margin: 10px 0;
  padding: 0px 10px;
  width: max-content;
}

.single-coffee > div {
  padding: 5px;
}

.x {
  display: none;
}

.single-coffee:hover > .x,
.post-coffee:hover > .x {
  display: block;
}

.post-coffee {
  display: flex;
  padding: 30px 5px 5px 5px;
}
